@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .center {
            margin: auto;
            width: 60%;
            padding: 10px;
        }

    </style>
</head>
<body>

    <h2 class="center">Student and Course Management </h2>
    <p class="center"> </p>
    <img src="images/Backround.PNG" width="1200" height="700">
</body>
</html>


